@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
        --cor_01: #0D0628;
        --cor_02: #D7263D;
        --cor_03: #E05D6E;
        --text-color: #F2F2F2;
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body {
        font-family: 'Poppins', sans-serif;
}

header {
        position: fixed;
        padding: 20px 120px;
        width: 100%;
        background-color: var(--text-color);
}
header nav {
        max-width: 1200px;
        max-height: 75px;

        display: flex;
        justify-content: space-between;
        align-items: center;
}
header nav h1 {
        font-weight: 600;
        font-size: 40px;
        color: var(--cor_01);
}
header nav h1 strong {
        color: var(--cor_02);
}
header nav ul {
        width: 635px;
        height: 40px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        list-style: none;
}
header nav ul .nav-link {
        text-decoration: none;
        font-size: 20px;
        color: var(--cor_01);

        transition: ease-in-out 0.1s;
}
header nav ul .nav-link:hover {
        color: var(--cor_02);
}
header nav ul a button{
        width: 180px;
        height: 40px;

        border: 0;
        border-radius: 10px;

        font-size: 20px;

        color: var(--text-color);
        background-color: var(--cor_03);
        cursor: pointer;
}

section {
        display: flex;
        justify-content: center;
}
.main {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 890px;
        min-height: 335px;

        margin: 250px 10px 300px 10px;
}
.main p {
        font-size: 30px;
        color: var(--cor_01);
}
.main h1 {
        font-size: 60px;
        text-align: center;
        text-transform: uppercase;
        color: var(--cor_02);
        margin-bottom: 20px;
}
.main .links {
        width: 500px;
        height: 60px;

        display: flex;
        justify-content: space-around;
}
.main .links a {
        width: 150px;
        height: 100%;
        line-height: 60px;

        border: 0;
        border-radius: 10px;

        text-align: center;
        text-decoration: none;

        color: var(--text-color);
        background-color: var(--cor_03);
}

.about {
        width: 100vw;
        padding: 100px 200px ;
       
       display: flex;
       flex-direction: column;
}
.about .titulo {
        display: flex;
}
.about .titulo h1 {
        font-size: 60px;
        text-transform: uppercase;
        color: var(--cor_02);
}
.about .titulo div {
        width: 850px;
        border-bottom: 10px solid var(--cor_02);
}
.about .conteudo {
        padding: 70px 0;

        display: flex;
        gap: 120px;
}
.about .conteudo .text p {
        text-align: justify;
        font-size: 25px;
}
.about .conteudo .image img {
        width: 380px;
        height: 400px;

        margin-right: 18px;
}

.projects {
        width: 100vw;
        padding: 100px 200px ;
       
       display: flex;
       flex-direction: column;
}

/* =========== MOBILE =========== */

@media screen and (max-width: 900px) {
        header {
                padding: 10px 20px;
        }
        header nav h1 {
                font-size: 30px;
        }
        header nav ul {
                flex-direction: column;
                justify-content: flex-start;
        }

        section .main h1 {
                font-size: 50px;
        }
        
}

@media screen and (max-width: 620px) {
        section .main h1 {
                font-size: 30px;
        }
        section .main p {
                font-size: 20px;
        }

        section .main .links {
                width: 400px;
        
                display: flex;
                justify-content: space-around;
        }
        section .main .links a {
                width: 100px;
                height: 80%;
                line-height: 50px;
        }
}