@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
        --primary-color: #8E45BF;
        --secondy-color: #F2845C;
        --text-color: #F2F2F2;
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: 'Poppins', sans-serif;
}

header {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px 50px;
        width: 100%;

        background-color: var(--primary-color);
}

header .nav-container .nav-bar ul{
        display: flex;
        margin-right: 20px;

        list-style: none;
        gap: 30px;
}

header .nav-container .nav-bar .links  {
        padding: 5px 20px;
        
        color: var(--text-color);
        font-size: 18px;
        
        text-transform: uppercase;
        text-decoration: none;
}

header .nav-container .nav-bar .links:hover {
        border-bottom: 3px solid  var(--secondy-color);
}
header .logo-container h1{
        color: var(--text-color);
}
header .logo-container strong {
        color: var(--secondy-color);
}


section {
        width: 100%;
        height: 50vh;

        display: flex;
        justify-content: space-around;
        align-items: center;
        
}
.main {
        height: 100vh;
        padding: 10px 100px;
}
.main .text h3 {
        font-size: 40px;
}
.main .text h1 {
        font-size: 60px;
        font-weight: 600;
        color: #000;
}
.main .text p {
        font-size: 20px;
        color: var(--secondy-color);
}

.main .curriculo {
        margin-top: 50px;
}
.main .text a {
        padding: 10px 15px;
        background-color: var(--primary-color);

        text-decoration: none;
        color: var(--text-color);
}
.main .image img{
        width: 800px;
}

.about {
        height: 100vh;
}
.about .text {
        width: 700px;
        padding: 20px;

        border-radius: 10px;
}
.about .text h1 {
        font-size: 55px;
        color: var(--primary-color);
}
.about .text p {
        font-size: 20px;
        text-align: justify;
}
.about .image img{
        max-width: 540px;
}


.projects {
        flex-direction: column;
        padding: 30% 0;
}
.projects .description h1{
        font-size: 50px;
        margin-top: 50px;
        color: var(--primary-color);
}
.projects .description p {
        font-size: 20px;
}

.projects .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        width: 85%;

        margin: 40px 0;
        padding: 20px;
}
.projects .container .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;

        padding: 30px 10px;
        background-color: var(--secondy-color);
        border-radius: 10px;
}
.projects .container .card h2 {
        font-size: 25px;
        margin-bottom: 15px;
        color: var(--text-color);
}
.projects .container .card p {
        max-width: 70%;
        font-size: 14px;

        text-align: justify;
        margin-bottom: 10px;
}
.projects .container .card img {
        width: 300px;
        min-height: 250px;
        padding: 15px 0;
}
.projects .container .card .btn {
       margin-top: 15px;
       padding: 10px 20px;

       cursor: pointer;
       outline: none;

       color: var(--text-color);
       background-color: var(--primary-color);
}
.projects .container .card .btn:hover {
        background-color: #000;
        color: #fff;
}

.contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 50%;

        margin: 10% 0;
        padding: 20px;
}
.contact h2 {
        font-size: 50px;
        color: var(--primary-color);
}
.contact .row{
        display:flex;
        justify-content: center;
        gap: 10%;

        width: 50%;
}
.contact .row img {
        width: 70px;
}

.info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;

        background-color: var(--primary-color);
        color: var(--text-color);
}
.info strong{
        color: var(--secondy-color);
}